
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: right;
    align-content: right;
}
  
 .body{
     background-color: white;
     padding: 0%;
     margin: 30px 30px;
     color: #000;
     font-family: 'poppins';
     margin-bottom: 3.1cm;
 }
 .nav{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 0cm;
     
 }
 .swahili{
     background-color: #000;
     color: white;
     padding: 1cm;
 }

 .intro{
     display: inline-block;
     padding: 10px;
     color: white;
     float: right;
     margin: 0%;
     margin-bottom: 30px;
     justify-content: space-between;
 }
 .btnn{
     background-color: yellow;
 }
 .property{
     width: 500px;
 }