
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: right;
    align-content: right;
}
  
 .body{
     background-color: white;
     padding: 0%;
     margin: 30px 30px;
     color: #000;
     font-family: 'poppins';
     margin-bottom: 3.1cm;
 }
 .nav{
    
     display: flex;
     justify-content: space-between;
     
 }
 .swahili{
     background-color: #000;
     color: white;
     padding: 1cm;
 }

 